<nav class="navbar navbar-dark navbar-expand-lg bg-primary">
    <a href="/" class="navbar-brand">GuiaPress</a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item mr-auto">
            <a class="nav-link" href="/">Home</a>
        </li>
        <% categories.forEach(category => { %>
        <li class="nav-item mr-auto">
            <a class="nav-link" href="/category/<%= category.slug%>"
                ><%= category.title %></a
            >
        </li>
        <% }) %>
    </ul>
</nav>
